/* 전체 화면 */
#intro_container {
    background-color: white;
    height: 100vh;
}

/* 요소의 초기 상태 및 애니메이션 정의 */
.mockup{
    display: flex;
    justify-content: right;
    top: 15%;
    position: fixed;
    z-index: 0;
    width: 100%;

}
/* 문구 */
.intro_text{
    position: relative;
    z-index: 1;
    font-size: 20px;
    font-weight: 600;
    line-height: 2;
    padding-top: 110px;
    padding-left: 30px;

    /* 애니메이션 적용 */
    animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* 시작 버튼 */
#start_btn{
    position: fixed;
    bottom: 70px;
    left: 50%; /* 화면 중앙에 수평 위치 조정 */
    transform: translateX(-50%); /* 중앙 정렬을 위해 위치 조정 */
    z-index: 1;
    border-radius: 10px;
    background: #333;
    color: white;
    width: 343px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 800;
    cursor: pointer;
}

/* 버튼에 마우스 올린 경우 */
#start_btn:hover {
    background: #555; /* 마우스를 올렸을 때 연한 색상으로 변경 */
}